$container: rgb(192, 213, 233);
$wrapper: rgb(234, 244, 247);
$header: rgb(69, 73, 126);
$toolbar: rgb(209, 220, 243);

.container {
  display: flex;
  flex-flow: row nowrap;
  background-color: $container;
  min-height: 100vh;
}

.editor-wrapper {
  border: 5px solid $wrapper;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 1%;
  padding: 5px;
  padding-bottom: 0;
  min-width: 48%;
  height: 75%;
  #editor {
    background-color: $wrapper;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid black;
    border-radius: 2px;
    height: 75vh;
    width: 100%;
    outline: none;
    resize: none;
    overflow: auto;
  }
}

.preview-wrapper {
  border: 5px solid $wrapper;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 1%;
  padding: 5px;
  min-width: 48%;
  height: 75%;
  #preview {
    background-color: $wrapper;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid black;
    border-radius: 2px;
    width: 100%;
    height: 75vh;
    overflow: auto;
  }
}

.toolbar {
  background-color: $toolbar;
  width: 100%;
  border: 1px solid black;
  border-radius: 2px;
  text-align: center;
  font-size: 24px;
  padding: 10px 0;
}

.header {
  @extend .toolbar;
  background-color: $header;
  color: white;
}
// MARKDOWN STYLES
#preview {
  blockquote {
    border-left: 3px solid #224b4b;
    color: #224b4b;
    padding-left: 5px;
    margin-left: 25px;
  }

  code {
    background: white;
    padding: 1px 4px 2px 4px;
    font-size: 12px;
    font-weight: bold;
  }

  pre {
    background: white;
    padding: 5px 0 5px 5px;
  }

  h1 {
    border-bottom: 2px solid black;
  }

  h2 {
    border-bottom: 1px solid black;
  }

  table {
    border-collapse: collapse;
  }

  td,
  th {
    border: 2px solid black;
    padding-left: 5px;
    padding-right: 5px;
  }
}
